<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{#if meta.title}}
    <title>{{meta.title}}</title>
    <meta property="og:title" content="{{meta.title}}" />
    <meta name="twitter:title" value="{{meta.title}}" />
    <meta name="description" itemprop="description" content="{{meta.description}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta name="twitter:description" value="{{meta.description}}" />
    {{else}}
    {{#if page}}
    <title>{{config.name}} - Page: {{page}}</title>
    <meta property="og:title" content="{{config.name}} - Page: {{page}}" />
    <meta name="twitter:title" value="{{config.name}} - Page: {{page}}" />
    <meta name="description" itemprop="description" content="{{config.name}} - Page: {{page}}" />
    <meta property="og:description" content="{{config.name}} - Page: {{page}}" />
    <meta name="twitter:description" value="{{config.name}} - Page: {{page}}" />
    {{/if}}
    {{#if tag}}
    <title>{{config.name}} - Tag: {{tag}}</title>
    <meta property="og:title" content="{{config.name}} - Tag: {{tag}}" />
    <meta name="twitter:title" value="{{config.name}} - Tag: {{tag}}" />
    <meta name="description" itemprop="description" content="{{config.name}} - Posts containing tag: {{tag}}" />
    <meta property="og:description" content="{{config.name}} - Posts containing tag: {{tag}}" />
    <meta name="twitter:description" value="{{config.name}} - Posts containing tag: {{tag}}" />
    {{/if}}
    {{/if}}
    <link rel="canonical" href="{{meta.url}}" />
    <link rel="icon" type="image/png" href="/content/images/favicon.png" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:site_name" content="{{config.name}}" />
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:url" value="{{meta.url}}" />
    {{#if meta.image}}
    <meta name="twitter:image" value="<{{meta.image}}" />
    {{/if}}
    {{#if config.twitterHandle}}
    <meta name="twitter:site" value="{{config.twitterHandle}}" />
    {{/if}}
    <link rel="alternate" type="application/rss+xml" href="{{config.baseUrl}}/rss" />
    <link rel="alternate" type="application/atom+xml" href="{{config.baseUrl}}/atom" />
    <link rel="alternate" type="application/json" href="{{config.baseUrl}}/json" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css" integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/content/stylesheets/style{{config.fileEnv}}.css">
    <script src="/content/javascripts/site{{config.fileEnv}}.js"></script>
  </head>
  <body>
    {{> header}}
    <div class="container">
      {{{body}}}
    </div>
    <footer class="footer mt-5 py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">squido</span>
        </div>
    </footer>
  </body>
</html>