/* HEADER */
.headerWrapper {
  background: #222222;
  position: fixed;
  width: 100%;
  z-index: 111;
}
.headerWrapper:after {
  clear: both;
  content: "";
  display: block;
}
header {
  font-size: 1rem;
  margin: 0 auto;
  max-width: calc(100% - 60px);
  width: 960px;
}
@media (min-width : 1386px) {
  header {
    width: 1280px;
  }
}
header nav > span,
header nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0em .25em 0em .25em;
  padding: 1em .25em 1em 0em;
  text-decoration: none;
  vertical-align: middle;
}
header nav > span {
  color: #aaaaaa;
}
header nav a:active,
header nav a:focus,
header nav a:hover {
  filter: none;
  transform: scale(1.05);
}
header nav > span {
  margin: 0;
}
header nav a[href="/"] {
  font-size: 1.7rem;
  margin-left: 0;
}
.headerCtaPrimary {
  background: rgba(255,255,255,1);
  border-radius: 1em;
  color: #222222;
  margin-left: .25em;
  padding: .25em 1em;
}
main {
  padding-top: 54px;
  /* offset fixed header height */
}
@media (max-width : 480px) {
  header nav a[href="/"] {
    font-size: 0;
  }
  header nav a[href="/"]:after {
    content: "BML";
    display: inline-block;
    font-size: 17px;
    line-height: 1.25;
    margin: 0em .25em 0em .25em;
    padding: 1em .25em 1em 0em;
  }
}