 

<link rel="stylesheet" href="/content/stylesheets/partials/header.css">
<div class="headerWrapper">
  <header class="">
    <nav class=""><a title="Home" href="/">Brandon M Lyon</a><span>|</span><a title="Browse" href="/tag/all-posts/">Browse</a><span>|</span><a title="Contact" href="/contact/">Contact</a></nav>
  </header>
</div>

 
