
{{! NOTE: THIS FILE IS DEPRECATED. I couldn't get it to work via an include file nor outside of the post loop.}} 

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
{{#if post.canonical}}
<link href="{{post.canonical}}" rel="canonical">
{{/if}}
{{#if post.title}}
<title>Brandon M Lyon | {{post.title}}</title>
{{/if}}
<meta content="{{post.description}}" name="description">
<meta content="Brandon M Lyon | {{post.title}}" property="og:title">
<meta content="{{post.description}}" property="og:description">
{{#if post.opengraphImage}}
<meta content="{{post.opengraphImage}}" property="og:image">
{{else}}
<meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" property="og:image">
{{/if}}
<meta content="https://about.brandonmlyon.com/{{post.permalink}}" property="og:url">
<meta content="website" property="og:type">
<meta content="summary_large_image" name="twitter:card">
<meta content="Brandon M Lyon | {{post.title}}" name="twitter:title">
<meta content="{{post.description}}" name="twitter:description">
{{#if post.opengraphImage}}
<meta content="{{post.opengraphImage}}" name="twitter:image">
{{else}}
<meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" name="twitter:image">
{{/if}}
{{! Note: There is a limit on the number of simultaneous connections in browsers. Use preconnect only for the most important domains and dns-prefetch for all other domains. }}
<meta name="p:domain_verify" content="cb3e264d1fd54b829f4c58f797f2ad57">

 
