/* LAYOUT MAIN */
:root {
  --background-primary-color: #ffffff;
}
script {
  display:none !important;
}
* {
  font-family: inherit;
  line-height: 125%;
  margin: 0;
  padding: 0;
}
html {
  background: #222222;
  font-family: 'Libre Baskerville', serif;
  font-size: 62.5%;
  line-height: 78.125%;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #222222;
  font-size: 1rem;
  line-height: 150%;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
a {
  color: #222222;
  /*color: var(--primary-color);*/
  display: inline-block;
}
.box1of2.noLinkHighlight a {
  color: #777777;
}
a:not(.imageContainer):active,
a:not(.imageContainer):focus,
a:not(.imageContainer):hover {
  transform: scale(1.05);
}
a.imageContainer:active,
a.imageContainer:focus,
a.imageContainer:hover {
  filter: brightness(110%);
}
article a:not(.imageContainer):not([class*="pagination"]):active,
article a:not(.imageContainer):not([class*="pagination"]):focus,
article a:not(.imageContainer):not([class*="pagination"]):hover {
  background: var(--background-primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto 3rem auto;
}
p {
  font-size: 1.4em;
  line-height: 1.5em;
  margin: 0 auto 4rem auto;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}
aside {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
}
article {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  min-height: calc(100vh - 53px);
  /* ^ 1px taller than full window height minus the header to trigger the infinitescroll library */
  padding: 6em 0;
  position: relative;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#is-a-developer-and-designer {
  min-height: calc(100vh - 53px);
}
.articleInnerWrap {
  background: var(--background-primary-color);
  border-color: var(--background-primary-color) var(--background-primary-color) var(--background-primary-color) var(--primary-color);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px 1px 1px 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: calc(100% - 3em);
  position: relative;
  width: 960px;
}
.box {
  background: var(--background-primary-color);
  box-sizing: border-box;
  flex: 0 0 auto;
}
/**/
.box * {
  line-height: 1.25em;
}
.box li {
  font-size: 2.7em;
  line-height: 1.5em;
  margin-left: 1em;
}
.box li a {
  display: inline;
}
.box h1 {
  font-size: 3.6em;
}
.box h2 {
  font-size: 3.2em;
}
.box h2.smaller {
  font-size: 2.6em;
}
.box h3 {
  font-size: 2.8em;
}
.box h4 {
  font-size: 2.4em;
}
.box h5 {
  font-size: 1.2em;
}
.box p {
  font-size: 1.75em;
  font-size: clamp(14px, 1.75em, 1.75em);
  line-height: 1.5em;
}
.box p.smaller {
  font-size: 1.8em;
  margin-bottom: 1em;
}
/**/
.box1of1 p {
  font-size: 2.4em;
}
/**/
.titleHighlight h1 {
  background: var(--primary-color);
  color: #ffffff;
  display: inline-block;
  font-size: 2.5em;
  padding: .25em .5em;
  position: relative;
}
.box1of2 h2 {
  font-style: italic;
}
/**/
.box1of2 {
  border-radius: 10px;
  padding: 6em 6em 6em 6em;
  margin-right: 3%;
  width: calc(69%);
}
.box2of2 {
  border-radius: 0px 10px 10px 0px;
  width: 28%;
}
.box1of1 {
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
}
.box1of1 {
  padding: 6em 6em;
}
.box2of2 .imageContainer {
  display: block;
  height: 100%;
  line-height: 0;
  overflow: hidden;
  position: relative;
  transition: opacity .5s;
  width: 100%;
}
.box2of2 .imageContainer:hover {
  opacity: 1;
}
.box2of2 .imageContainer img {
  left: 0;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.videoContainer {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.videoContainer iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* SCROLL ARROWS */
.pagination__previous {
  height: 48px;
  left: calc(50% - 24px);
  position: absolute;
  top: -48px;
  width: 48px;
  z-index: 99;
}
.pagination__previous:after {
  bottom: 5px;
  content: "";
  border-style: solid;
  border-width: 0px 18px 24px 18px;
  border-color: transparent transparent #bbbbbb transparent;
  height: 0;
  left: 6px;
  position: absolute;
  top: 12px;
  width: 0;
}
.pagination__next {
  bottom: -48px;
  height: 48px;
  left: calc(50% - 24px);
  position: absolute;
  width: 48px;
  z-index: 99;
}
.pagination__next:after {
  content: "";
  border-style: solid;
  border-width: 24px 18px 0px 18px;
  border-color: #bbbbbb transparent transparent transparent;
  height: 0;
  left: 6px;
  position:absolute;
  top: 12px;
  width: 0;
}
/* PARTICLES */
canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  background: transparent;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/* RESPONSIVE */
@media (min-width : 1386px) {
  .articleInnerWrap {
    width: 1280px;
  }
  .box1of1 {
    font-size: .7em;
  }
  .box1of2 {
    font-size: .8em;
  }
}
@media (max-width : 1385px) {
  .box1of1 {
    font-size: .6em;
  }
  .box1of2 {
    font-size: .7em;
  }
}
@media (max-width : 959px) {
  .articleInnerWrap {
    justify-content: center;
  }
  .box1of2, 
  .box2of2 {
    border-width: 0;
    margin-right: auto;
    width: 100%;
  }
  .box1of2,
  .box1of1 {
    padding: 6em 3em;
  }
  .imageContainer {
    margin: 0 auto;
    max-width: 440px;
  }
  .box2of2 .imageContainer img {
    position: static;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 auto 1.5rem auto;
  }
  p {
    margin: 0 auto 3rem auto;
  }
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
}
/* Internet Explorer Graceful Degredation */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  article {
    display: block;
  }
  .box1of2 {
    padding: 0 25% 0 0;
  }
}
