<head>
  {{> meta-start}}
  {{#if this.canonical}}
  <link href="{{this.canonical}}" rel="canonical">
  {{/if}}
  <title>Brandon M Lyon | Content not found</title>
  <meta content="This is not the droid you're looking for." name="description">
  <link rel="icon" href="data:;base64,=">
  <meta content="Brandon M Lyon | Content not found" property="og:title">
  <meta content="This is not the droid you're looking for." property="og:description">
  {{#if this.opengraphImage}}
  <meta content="{{this.opengraphImage}}" property="og:image">
  {{else}}
  <meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" property="og:image">
  {{/if}}
  <meta content="https://about.brandonmlyon.com/{{this.permalink}}" property="og:url">
  <meta content="website" property="og:type">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="Brandon M Lyon | Content not found" name="twitter:title">
  <meta content="This is not the droid you're looking for." name="twitter:description">
  {{#if this.opengraphImage}}
  <meta content="{{this.opengraphImage}}" name="twitter:image">
  {{else}}
  <meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" name="twitter:image">
  {{/if}}
  {{> meta-end}}
  {{> styles-default}}
</head>

<body>
  <div id="particles-js">
  </div>
  {{! <script src="/content/javascripts/particles.js"></script> }}
  {{! <script src="/content/javascripts/infinitescroll.js"></script> }}
  {{> header}}
  <main class="container">


    <article class="post" id="four-zero-four">
      <style>#four-zero-four {--primary-color: #e41b5b;}</style>
      <div class="articleInnerWrap">
        <div class="box box1of1 titleHighlight">
          <h1>404</h1>
          <h2>Sorry we could not find the page you requested. Please double check the URL. If you believe this is a bug, please <a href="/contact/">contact me.</a></h2>
        </div>
      </div>
    </article>


  </main>
</body>
