<head>
  {{> meta-start}}
  {{#if post.canonical}}
  <link href="{{post.canonical}}" rel="canonical">
  {{/if}}
  {{#if post.title}}
  <title>Brandon M Lyon | {{post.title}}</title>
  {{/if}}
  <meta content="{{post.description}}" name="description">
  <link rel="icon" href="data:;base64,=">
  <meta content="Brandon M Lyon | {{post.title}}" property="og:title">
  <meta content="{{post.description}}" property="og:description">
  {{#if post.opengraphImage}}
  <meta content="{{post.opengraphImage}}" property="og:image">
  {{else}}
  <meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" property="og:image">
  {{/if}}
  <meta content="https://about.brandonmlyon.com/{{post.permalink}}" property="og:url">
  <meta content="website" property="og:type">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="Brandon M Lyon | {{post.title}}" name="twitter:title">
  <meta content="{{post.description}}" name="twitter:description">
  {{#if post.opengraphImage}}
  <meta content="{{post.opengraphImage}}" name="twitter:image">
  {{else}}
  <meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" name="twitter:image">
  {{/if}}
  {{> meta-end}}
  {{> styles-default}}
</head>

<body>
  <div id="particles-js">
  </div>
  {{! <script src="/content/javascripts/particles.js"></script> }}
  {{#if this.standalone}}
  {{else}}
  <script src="/content/javascripts/infinitescroll.js"></script>
  {{/if}}
  {{> header}}


  <main class="container">
    <article class="post" id="{{post.titleCodeSafe}}">
      <style>#{{post.titleCodeSafe}} {--primary-color: {{post.primaryColor}};}</style>
      <div class="articleInnerWrap">
        {{#if post.manualLayout}}
        {{{post.body}}}
        {{else if post.sidebar}}
        <div class="box {{post.layoutClass}}">
          {{{post.body}}}
        </div>
        <div class="box box2of2">
          <a class="imageContainer" href="{{post.image}}" target="_blank" rel="noopener" alt="{{imageAltText}}"><img loading="lazy"src="{{post.image}}" /></a>
        </div>
        {{else}}
        <div class="box {{post.layoutClass}} box1of1">
          {{{post.body}}}
        </div>
        {{/if}}
        {{#if post.previousUrl}}
          <a class="pagination__previous" title='Previous page' href="{{post.previousUrl}}"></a>
        {{/if}}
        {{#if post.nextUrl}}
          <a class="pagination__next" title='Next page' href="{{post.nextUrl}}"></a>
        {{/if}}
        {{#if post.standalone}}
        {{else}}
        <script type="text/javascript">
          updateNextURL(document);
        </script>
        {{/if}}
      </div>
    </article>


  </main>
</body>
