<head>
  {{> meta-start}}
  {{#if this.canonical}}
  <link href="{{this.canonical}}" rel="canonical">
  {{/if}}
  {{#if this.title}}
  <title>Brandon M Lyon | {{this.title}}</title>
  {{/if}}
  <meta content="{{this.description}}" name="description">
  <link rel="icon" href="data:;base64,=">
  <meta content="{{this.title}}" property="og:title">
  <meta content="{{this.description}}" property="og:description">
  {{#if this.opengraphImage}}
  <meta content="{{this.opengraphImage}}" property="og:image">
  {{else}}
  <meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" property="og:image">
  {{/if}}
  <meta content="https://about.brandonmlyon.com/{{this.permalink}}" property="og:url">
  <meta content="website" property="og:type">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="Brandon M Lyon | {{this.title}}" name="twitter:title">
  <meta content="{{this.description}}" name="twitter:description">
  {{#if this.opengraphImage}}
  <meta content="{{this.opengraphImage}}" name="twitter:image">
  {{else}}
  <meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" name="twitter:image">
  {{/if}}
  {{> meta-end}}
  {{> styles-default}}
</head>

<body>
  <div id="particles-js">
  </div>
  {{! <script src="/content/javascripts/particles.js"></script> }}
  {{#if this.standalone}}
  {{else}}
  <script src="/content/javascripts/infinitescroll.js"></script>
  {{/if}}
  {{> header}}
  <main class="container">


    <article class="post" id="{{this.titleCodeSafe}}">
      <style>#{{this.titleCodeSafe}} {--primary-color: {{this.primaryColor}};}</style>
      <div class="articleInnerWrap">
        {{#if this.manualLayout}}
        {{{body}}}
        {{else if this.sidebar}}
        <div class="box {{this.layoutClass}}">
          {{{body}}}
        </div>
        <div class="box box2of2">
          <a class="imageContainer" href="{{this.image}}" target="_blank" rel="noopener" alt="{{imageAltText}}"><img loading="lazy"src="{{this.image}}" /></a>
        </div>
        {{else}}
        <div class="box {{this.layoutClass}} box1of1">
          {{{body}}}
        </div>
        {{/if}}
        {{#if this.previousUrl}}
          <a class="pagination__previous" title='Previous page' href="{{this.previousUrl}}"></a>
        {{/if}}
        {{#if this.nextUrl}}
          <a class="pagination__next" title='Next page' href="{{this.nextUrl}}"></a>
        {{/if}}
        {{#if this.standalone}}
        {{else}}
        <script type="text/javascript">
          updateNextURL(document);
        </script>
        {{/if}}
      </div>
    </article>


  </main>
</body>
