<head>
  {{> meta-start}}
  {{#if this.canonical}}
  <link href="{{this.canonical}}" rel="canonical">
  {{/if}}
  <title>Brandon M Lyon | Browse {{tag}}</title>
  <meta content="Searching for a particular post? Here's a list of everything in this topic." name="description">
  <link rel="icon" href="data:;base64,=">
  <meta content="Brandon M Lyon | Browse {{tag}}" property="og:title">
  <meta content="Searching for a particular post? Here's a list of everything in this topic." property="og:description">
  {{#if this.opengraphImage}}
  <meta content="{{this.opengraphImage}}" property="og:image">
  {{else}}
  <meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" property="og:image">
  {{/if}}
  <meta content="https://about.brandonmlyon.com/{{this.permalink}}" property="og:url">
  <meta content="website" property="og:type">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="Brandon M Lyon | Browse {{tag}}" name="twitter:title">
  <meta content="Searching for a particular post? Here's a list of everything in this topic." name="twitter:description">
  {{#if this.opengraphImage}}
  <meta content="{{this.opengraphImage}}" name="twitter:image">
  {{else}}
  <meta content="https://res.cloudinary.com/bml/image/upload/v1635514827/brandonmlyon/opengraph.jpg" name="twitter:image">
  {{/if}}
  {{> meta-end}}
  {{> styles-default}}
</head>

<body>
  <div id="particles-js">
  </div>
  {{! <script src="/content/javascripts/particles.js"></script> }}
  {{! <script src="/content/javascripts/infinitescroll.js"></script> }}
  {{> header}}
  <main class="container">


    <article class="post" id="view-tag">
      <style>#view-tag {--primary-color: transparent;}</style>
      <div class="articleInnerWrap">
        <div class="box {{this.layoutClass}} box1of1">
          {{#each posts}}
            <a href="/{{this.permalink}}">
              <p class="post-title">
                <strong>{{this.title}}</strong>
              </p>
              <p class="post-description">
                <em>{{this.description}}</em>
              </p>
            </a>
          {{/each}}
          <style>
            .articleInnerWrap {
              background: none !important;
              border: 0 none !important;
              width: 90% !important;
            }
            .box1of1 {
              background: transparent;
              padding: 0;
            }
            #view-tag a {
              background: rgba(255,255,255,1);
              border: 2px solid rgba(0,0,0,.1);
              border-radius: 4px;
              box-sizing: border-box;
              color: #222222;
              display: block;
              font-size: 2.4em;
              margin: 0.0em 0.0em 1.0em 0.0em;
              padding: 2em 1em;
              text-decoration: none;
            }
            #view-tag a:active,
            #view-tag a:focus,
            #view-tag a:hover {
              border-color: #e41b5b;
              filter: none;
              outline: none;
            }
            #view-tag p {
              font-size: 1.3em;
              margin: .25em auto;
            }
          </style>
        </div>
      </div>
    </article>


  </main>
</body>
